rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn()
        && request.auth.token.email in ['theboy96@naver.com'];
    }

    function isOwner() {
      return signedIn() && resource.data.uid == request.auth.uid;
    }

    function isCreatingOwnDoc() {
      return signedIn() && request.resource.data.uid == request.auth.uid;
    }

    match /posts/{postId} {
      allow read: if true;
      allow create: if isCreatingOwnDoc();
      allow update: if isOwner() || isAdmin();
      allow delete: if isOwner() || isAdmin();

      match /comments/{commentId} {
        allow read: if true;
        allow create: if isCreatingOwnDoc();
        allow update: if isOwner() || isAdmin();
        allow delete: if isOwner() || isAdmin();
      }
    }
  }
}
